* {
    padding: 0;
    margin: 0; 
}
body{
    font-family: 'Montserrat', sans-serif;
}
.studentList, .sortedByName, .sortedByRating, .maxMarkStudent, .minMarkStudent, .averageMarkStudent, .rateList, .passwordForm, .passwordFormSubmit, #password{
    text-align: center;
    background-color: #FAEBD7;
}
.studentList p, .sortedByName p, .sortedByRating p, .maxMarkStudent p, .minMarkStudent p, .averageMarkStudent p, .rateList p{
    background-color: #FEE4C4;
}
