* {
    padding: 0;
    margin: 0; 
    
}
body{

  background: #161616;
  color: #bdbdbd;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-weight: 200;
    font-style: 26px;
    margin: 10px;
    
  }
form {
  margin: 20px auto;
    width: 180px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(156, 81, 150, 0.164); 
}
form input {
    margin: 3px;
    box-shadow: 2px 2px 2px rgba(92, 206, 136, 0.349); 
    width: 100%;
}
